@font-face {
  font-family: Helv;
  src: url(./fonts/Helvetica\ Rounded\ Bold.ttf) format("truetype");
  font-weight: bold;
}

body {
  background: #f5f5f5;
  overflow: hidden;
}

.navBar {
  position: absolute;
  width: 198px;
  height: 53px;
  left: 400px;
  top: 166px;
}

#logo:hover{
  background: none;
}

.mock-section {
  position: absolute;
  width: 936px;
  height: 587px;
  left: 889px;
  top: 292px;

  background: url(./assets/mockup.svg);
}

.tool-section {
  position: absolute;
  width: 481px;
  height: 587px;
  top: 652px;
  left: 0px;
  background: url(./assets/tool.svg);
  background-repeat: no-repeat;
}

.head-text {
  position: absolute;
  width: 209px;
  height: 37px;
  left: 400px;
  top: 449px;

  font-family: Helv;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  color: #00adef;
}

.text {
  position: absolute;
  width: 489px;
  height: 110px;
  left: 400px;
  top: 536px;
}

.first {
  font-family: Helv;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
}

.wow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 50px;

  position: absolute;
  width: 339px;
  height: 48px;
  left: 400px;
  top: 746px;
}

.second {
  width: 115px;
  height: 28px;

  font-family: Helv;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  color: #4e4e4e;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#fb {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 48px;
  height: 48px;
  left: 165px;
  top: 0px;

  border: 1px solid #cecece;
  border-radius: 10px;
}

#insta {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 48px;
  height: 48px;
  left: 228px;
  top: 0px;

  border: 1px solid #cecece;
  border-radius: 10px;
}

#linkedin {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 48px;
  height: 48px;
  left: 291px;
  top: 0px;

  border: 1px solid #cecece;
  border-radius: 10px;
}

#fb:hover,
#insta:hover,
#linkedin:hover {
  border: 1px solid #2abaef;
}

a:hover {
  background-color: #48c2ef;
}
a path:hover{
  fill: white;
}